	.bgimg {background-image: url("images/car.jpg");
	height: 620px;
	}


	@media screen and (max-width: 360px) {
	    .bgimg {
	       background-image: url("images/mobile.jpg");
	    }
	}

	.parallax {
	    /* The image used */
	    background-image: url("images/car.jpg");

	    /* Set a specific height */
	    min-height: 620px; 

	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}


@media screen and (max-width: 360px) {
	    .parallax {
	       background-image: url("images/mobile.jpg");
	    }
	}
